/**
 * Colors
 * -----------------------------------------------------------------------------
 */

/* Base colors
 * -------------------- */

$white:													#fff;
$black:													#222;

$grey-darker:										#222324;
$grey-dark:											#69707a;
$grey:													#aeb1b5;
$grey-light:										#d3d6db;
$grey-lighter:									#f5f7fa;

$blue:													#42afe3;
$green:													#97cd76;
$orange:												#f68b39;
$purple:												#847bb9;
$red:														#ed6c63;
$turquoise:											#1fc8db;
$yellow:												#fce473;

$primary:												$turquoise;
$primary-invert:								findColorInvert($primary);

/* Brand colors
 * -------------------- */

$color--main:										#321c05;
$color--main-invert:						findColorInvert($color--main);

/* Text colors
 * -------------------- */

$color--text:										$grey-dark;

// Links

$color--link:										#9a8566;
$color--link-hover:							darken($color--link, 10%);
$color--link-hover-border:			$grey-darker;
$color--link-hover-background:	$grey-lighter;
$color--link-visited:						$purple;

$color--link-active:						$grey-darker;
$color--link-active-border:			$grey-darker;

$colors:												(primary: ($primary, $primary-invert));

$text-strong:										$grey-darker;
$text-light:										$grey;

$text-invert:										findColorInvert($color--text);
$color--link-invert:						findColorInvert($color--link);

/* Button colors
 * -------------------- */

$color--button:									#9a8566;
$color--button-hover:						darken($color--button, 10%);

/* Border colors
 * -------------------- */

$color--border:									$color--main;
$color--border-hover:						darken($color--border, 10%);


/* Backgrounds
 * -------------------- */

$background:										$grey;

$header--background-img:				'../img/bg_pattern.jpg';
$body--background-img:					'../img/bg_pattern.jpg';
$footer--background-img:				'../img/footer-bg-solid.png';

$header--background-color:			$grey;
$body--background-color:				$white;
$footer--background-color:			$grey;

/* Third party brand colors
 * -------------------- */

$color--facebook:								#03539e;
$color--twitter:								#35ccff;
$color--linkedin:								#217bc1;

/**
 * Typography. Font sizes and spacing/widths
 * -----------------------------------------------------------------------------
 */

/* Font familys
 * -------------------- */

$family-sans-serif:							"Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace:							"Source Code Pro", "Monaco", "Inconsolata", monospace;
$family-serif:									'Georgia', 'Times New Roman', Times, serif;

$font-family--primary:          'Open Sans', sans-serif;
$font-family--secondary:        'Oranienbaum', serif;

/* Font sizes
 * -------------------- */

$size-1:												48px;
$size-2:												40px;
$size-3:												28px;
$size-4:												24px;
$size-5:												18px;
$size-6:												16px;
$size-7:												11px;
/* Alternate -------------------------- */
$size-huge:											$size-1;
$size-large:										$size-3;
$size-medium:										$size-5;
$size-normal:										$size-6;
$size-small:										$size-7;

$weight-title-normal:						300;
$weight-title-bold:							700;

/* Breakpoints, Spacings and widths
 * -------------------- */

$widescreen:										1180px;
$desktop:												980px;
$tablet:												769px;
/* Alternate -------------------------- */
$large:													1420px;
$medium:												1180px;
$small:													769px;
$xsmall:												480px;

$spacing--small:								.5em;
$spacing--medium:								1em;
$spacing--large:								1.5em;

// Dimensions

$column-gap:										20px;
$header-height:									50px;

/* Transitions
 * -------------------- */

$transition-time--base:					.3s;

// Miscellaneous

$easing:												ease-out;
$radius:												3px;
$speed:													86ms;

/* Controls
 * -------------------- */

$control:																$text-strong;
$control-background:										$text-invert;
$control-border:												$color--border;

$control-hover:													$color--link-hover;
$control-hover-border:									$color--border-hover;

$control-active:												$color--link;
$control-active-background:							$color--link;
$control-active-background-invert:			$color--link-invert;
$control-active-border:									$color--link;

// Code

$code:																	$red;
$code-background:												$background;

$pre:																		$color--text;
$pre-background:												$background;